.footer-main{
    background-color: rgb(1, 1, 38);
    color: white;
    text-align: center;
    padding-top: 20px;
}
a{
    text-decoration: none;
    color: white;
}

.footer-main p{
    padding-top: 20px;
}

.contact-icon{
    height: 30px;
}

.contact{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}